<%- include('../common/header', { title }) %>
<%- include('../common/menu') %>

        <div class="row">
            <div class="col-sm-6">

                <%- include('form', { book }) %>

            </div>
        </div>

<%- include('../common/footer') %>